.navbar {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  background-color: var(--dark);
  margin: 0;
  width: 100%;
  padding: 0.5rem;
}

.navbar-item {
  flex: 1; /* Each item takes equal space */
  text-align: center;
  list-style-type: none;
  color: var(--offWhite);
}

.navbar-link {
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
  color: var(--offWhite); /* Ensure the link color is set */
}

.navbar-logout {
  margin-left: auto;
}

.navbar-link:hover {
  color: var(--primary);
}
