.welcome-container {
  display: flex; /* Enables Flexbox layout */
  flex-direction: column; /* Stacks children vertically */
  justify-content: center; /* Centers content vertically */
  align-items: center; /* Centers content horizontally */
  height: 30vh; /* Makes the container take the full viewport height */
  text-align: center; /* Centers text content within the elements */
  padding-top: 35px; /* Adjust padding as needed for extra space at the top */
}

.welcome-container img.welcome-logo {
  width: 160px; /* Increase width to make the image slightly larger */
  height: auto; /* Maintain aspect ratio */
}

.welcome-container h1 {
  font-size: 2.5em; /* Adjust as needed for emphasis */
  margin-bottom: 10px; /* Space between the heading and the text below */
}

.welcome-container div {
  font-size: 1.2em; /* Adjust font size as needed */
}
